/* 슬라이드 컨테이너 스타일 */
.slider-container {
  position: relative;
  width: 80%;
  margin: auto;
}

/* 좌측 및 우측 화살표 버튼 스타일 */
.slick-prev,
.slick-next {
  position: absolute;
  bottom: 50px; /* 하단에 배치 */
  transform: translateY(0); /* 수직 중앙 정렬을 위한 변환 */
  font-size: 30px;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
}

.slick-prev {
  left: 10px; /* 왼쪽 화살표 위치 */
}

.slick-next {
  right: 10px; /* 오른쪽 화살표 위치 */
}

/* 페이지네이션 점 (dots) 위치 및 스타일 */
.slick-dots {
  position: absolute;
  bottom: 10px; /* 슬라이드 하단에 위치 */
  width: 100%;
  text-align: center;
}

.slick-dots li button:before {
  color: black; /* 페이지네이션 점 색상 */
}
